<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard | YULJE</title>

    <%- include("modules/head.ejs") %>

    <style>
        tr th {
            padding: 10px 30px;
        }

        tr td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <%- include('modules/admin-navbar.ejs') %>

    <main class="flex flex-row gap-10 justify-between items-start px-5 my-5 flex-wrap lg:flex-nowrap">
        <section class="grow">
            <h1 class="text-3xl text-center font-bold text-blue-800">Riwayat Konsultasi</h1>
            <p class="text-center text-sm font-light italic">Tabel: riwayat_konsultasi</p>

            <div class="text-left">
                <a href="/admin/" class="text-blue-500 italic underline underline-offset-1"><i class="me-1 bi bi-chevron-bar-left"></i>Kembali</a>
            </div>

            <div class="mt-5 shadow-sm p-3">
                <table class="table-auto border border-2 border-collapse border-white p-4 w-full text-sm">
                    <thead class="bg-stone-50">
                        <tr>
                            <th>No.</th>
                            <th>ID Pas</th>
                            <th>ID Dok</th>
                            <th>Tanggal</th>
                            <th>Waktu</th>
                            <th>Keluhan</th>
                            <th>Status</th>
                            <th>Diagnosis</th>
                            <th>Tindakan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% results.forEach((row, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= row.id_pasien %></td>
                                <td><%= row.id_dokter %></td>
                                <td><%= new Date(row.tanggal).toLocaleDateString('id-ID', { day: 'numeric', weekday: 'long', month: 'long', year: 'numeric' }) %></td>
                                <td><%= row.waktu %></td>
                                <td><%= row.keluhan %></td>
                                <td><%= row.status %></td>
                                <td><%= row.diagnosis %></td>
                                <td><%= row.tindakan %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>