<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <%- include("modules/head.ejs") %>

    <style>
        tr th {
            padding: 10px 30px;
        }

        tr td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <nav class="flex flex-row justify-between items-center">
        <div class="flex flex-row gap-5 justify-start items-center p-3">
            <img src="/img/Yulje Icon Logo.png" class="w-15" alt="Yulje Logo">
            <div class="flex flex-col">
                <h1 class="text-2xl text-yuldark-500 font-bold">YULJE's Admin Dashboard</h1>
                <small>Halo Min, jangan lupa rajin Git Pull!</small>
            </div>
        </div>
        <div class="flex flex-row gap-5 justify-end items-center p-3">
            <div class="text-right">
                <h1 class="text-2xl text-yuldark-500 font-bold">yulje_pw</h1>
                <small>YULJE's Database</small>
            </div>
            <i class="text-6xl text-blue-950 bi bi-database-fill-gear"></i>
        </div>
    </nav>

    <main class="flex flex-row gap-10 justify-between items-start px-5 my-5 flex-wrap">
        <section class="grow">
            <h1 class="text-3xl text-center font-bold text-blue-800">Jadwal Konsultasi Aktif</h1>
            <p class="text-center text-sm font-light italic">Tabel: jadwal_konsultasi</p>

            <div class="flex flex-row justify-between items-center mt-3">
                <div class="flex flex-row gap-5 text-xs">
                    <div class="flex flex-row gap-2 h-5 justify-center items-center">
                        <span class="block bg-blue-200 rounded-sm w-4">&nbsp;</span>
                        <small class="italic">Pria</small>
                    </div>
                    <div class="flex flex-row gap-2 h-5 justify-center items-center">
                        <span class="block bg-pink-200 rounded-sm w-4">&nbsp;</span>
                        <small class="italic">Wanita</small>
                    </div>
                </div>

                <div class="flex flex-row gap-5 text-xs">
                    <div class="flex flex-row gap-2 h-5 justify-center items-center">
                        <small class="italic">Edit Data</small>
                        <span class="block bg-yellow-500 rounded-sm w-4">&nbsp;</span>
                    </div>
                    <div class="flex flex-row gap-2 h-5 justify-center items-center">
                        <small class="italic">Hapus</small>
                        <span class="block bg-red-500 rounded-sm w-4">&nbsp;</span>
                    </div>
                    <div class="flex flex-row gap-2 h-5 justify-center items-center">
                        <small class="italic">Tandai Sebagai Selsai</small>
                        <span class="block bg-green-500 rounded-sm w-4">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="mt-5 shadow-sm p-3">
                <table class="table-auto border border-2 border-collapse border-white p-4 w-full text-sm">
                    <thead class="bg-stone-50">
                        <tr>
                            <th class="w-5">No.</th>
                            <th class="min-w-30">Nama Pasien</th>
                            <th class="min-w-90">Keluhan</th>
                            <th>Dokter</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% results.forEach((row, index) => { %>
                        <tr>
                            <td class="text-center"><%= index + 1 %></td>
                            <td>
                                <span class="p-1 rounded-md <%= row.jenis_kelamin === 'Pria' ? 'bg-blue-200' : 'bg-pink-200' %>">
                                    <%= row.nama_pasien %>
                                </span>
                            </td>
                            <td class="bg-stone-200"><%= row.keluhan %></td>
                            <td class="text-center"><%= row.nama_dokter %></td>
                            <td class="text-center p-2">
                                <% 
                                    const today = new Date();
                                    const tanggalDate = new Date(row.tanggal);

                                    const isSelesai = tanggalDate < new Date(today.setHours(0,0,0,0));
                                    const statusClass = isSelesai ? "text-green-950 bg-green-200" : "text-yellow-950 bg-yellow-300";
                                    const statusLabel = isSelesai ? "Selesai" : "Terjadwal";
                                %>
                                <span class="p-2 rounded-md font-bold <%= statusClass %>"><%= statusLabel %></span>
                            </td>
                            <td class="flex flex-row flex-wrap gap-2 text-center">
                                <a href="/admin/jadwal/<%= row.id_konsultasi %>" class="bg-yellow-500 hover:bg-yellow-700 cursor-pointer p-1 grow text-white rounded-md"><i class="bi bi-pencil-square"></i></a>
                                <a href="/admin/jadwal/<%= row.id_konsultasi %>/delete" onclick="return confirm('Yakin ingin menghapus?')" class="bg-red-500 hover:bg-red-700 cursor-pointer p-1 grow text-white rounded-md"><i class="bi bi-trash"></i></a>
                                <a href="/admin/jadwal/<%= row.id_konsultasi %>/done" class="bg-green-500 hover:bg-green-700 cursor-pointer p-1 grow text-white rounded-md"><i class="bi bi-check"></i></a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </section>
        
        <section>
            <h1 class="text-3xl text-center font-bold text-blue-800">Daftar Dokter</h1>
            <p class="text-center text-sm font-light italic">Tabel: dokter, spesialis, jadwal_praktik</p>

            <div class="flex flex-col gap-4 mt-5">
                <% 
                    const dokter = [];
                    const sudah_ada = new Set();
                    
                    // Memfilter duplikat karena query berdasarkan jadwal_konsultasi, bukan dokter standalone   - Erik
                    results.forEach(row => {
                        if (!sudah_ada.has(row.id_dokter)) 
                        {
                            dokter.push(row);
                            sudah_ada.add(row.id_dokter);
                        }
                    });
                %>

                <% dokter.forEach(row => { %>
                    <div class="bg-stone-50 border border-1 border-white p-3 rounded-md shadow-sm">
                        <h3 class="font-bold text-yuldark-500"><%= row.nama_dokter %></h3>
                        <p class="text-sm text-blue-500 mb-3"><%= row.nama_spesialis %></p>
                        <small class="text-green-800 me-4"><i class="bi bi-calendar-event me-2"></i><%= row.hari %></small>
                        <small class="text-stone-500"><i class="bi bi-clock-history me-2"></i><%= row.waktu_mulai %> - <%= row.waktu_selesai %></small>
                    </div>
                <% }); %>
            </div>
        </section>
    </main>
</body>
</html>